.alertColor {
    color: #b93d3d !important;
  }
  
  .left {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
  }
  
  html,
  body {
    height: 100%;
  }
  
  
  
  *:focus {
    outline: none;
  }
  
  .container {
    height: 100%;
    max-width: 100%;
  }
  
  .color-layer {
    position: absolute;
    top: 50%;
    left: 80%;
    padding: 0;
    background-color: rgb(242 253 255 / 54%);
    width: 420px;
    margin: -300px -206px;
    box-shadow: 0px 0px 12px #1965a6;
    border-radius: 10%;
  }
  
  .color-layer h1 {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 70px;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    text-shadow: 0px 0px 2px #fff;
  }
  
  .form-container {
    margin: 4px 35px;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Quicksand';
    font-weight: 300;
    font-size: 15px;
    font-weight: 500;
  }
  
  .form-container span {
    padding-top: 20px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 100%;
  }
  
  label {
    display: block;
    margin-top: 6px;
    color: #040505;
    font-size: 19px;
    font-weight: 600;
    font-family: math;
  }
  
  
  .input {
    width: 276px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
    background: rgb(255 255 255 / 84%);
  
  
    &:focus {
        
        background: rgb(255 255 255 / 84%);
    }
  }
  
  
  @media only screen and (max-width : 320px) {
    .color-layer {
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
  
    }
  
    .color-layer h1 {
  
        text-align: center;
        width: 250px;
        margin: 0 auto;
        font-size: 45px;
        padding: 20px 0;
        margin-top: 55px;
    }
  
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 320px;
        height: 500px;
        margin-top: -290px;
        margin-left: -160px;
    }
  
    .form-container {
        font-size: 15px;
        margin: 0 15px;
  
    }
  
    .input {
        border-bottom: 1px solid #EDCDB6;
        font-size: 20px;
    }
  
    .button {
        height: 40px;
        font-size: 15px;
    }
  
    label {
        margin-top: 20px;
    }
  
  }
  
  button {
    width: 165px;
    height: 42px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #013463;
    transition: 0.1s;
  }
  
  
  .play-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
  }
  
  
  .play {
    --font: 2rem;
    color: rgb(255, 255, 255);
    border-radius: 4rem;
    width: 25rem;
    box-shadow: inset 0 0 0 0 rgb(248, 249, 255, 0.5);
    position: relative;
  
  }
  
  .play:hover::before {
    opacity: 0.2;
    border-radius: 4rem;
  }
  
  .play>span {
    background-color: rgb(247, 255, 25);
    height: 8rem;
    width: 21rem;
    border-radius: 2rem;
  }
  
  .play>span::after {
    display: none;
  }
  
  .play:hover {
    box-shadow: inset 0 0 0 calc(var(--font) * 0.15) rgb(248, 249, 255, 0.6);
  }
  
  .mode>span {
    background-color: rgb(200, 204, 205);
    height: 6rem;
  }
  
  .mode {
    font-size: 1.5rem;
    width: 25rem;
    height: 10rem;
    top: 2rem;
  }
  
  h1 {
    color: white;
    margin: 0;
    position: relative;
    top: 1rem;
    font-style: italic;
  }
  
  @media screen and (max-width: 800px) {
    :root {
        --font: 1.2rem;
    }
  
    body {
        padding: 1rem;
    }
  
    .play {
        --font: 2rem;
        width: 20rem;
    }
  
    .mode {
        width: 20rem;
    }
  
    .play>span {
        width: 16rem;
    }
  }